@{
    ViewData["Title"] = "Hotel";
}
<link rel="stylesheet" href="~/css/Index.css" />
<div class="row cyan">
    <div class="col-2"></div>
    <div class="col-8">
        <h1>Donde las vacaciones son inolvidables</h1>
    </div>
    <div class="col-2"></div>
</div>
<div class="row cyan">
    <div class="col-2"></div>
    <div class="col-8">
        <img src="./IMG/pexels-asad-photo-maldives-2549018.jpg" alt="Foto paradisiaca" />
    </div>
    <div class="col-2"></div>
</div>
<div class="row tira-20 cyan">
    <div class="col-2"></div>
    <div class="col-4">
        <p>
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
    </div>
    <div class="col-4">
        <p>
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </p>
    </div>
    <div class="col-2"></div>
</div>
<div class="row rose tira-20">
    <div class="col-2"></div>
    <div class="col-2">
        <div class="card" style="width: 18rem;">
            <img src="./IMG/pexels-colon-freld-2373201.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card" style="width: 18rem;">
            <img src="./IMG/pexels-elina-sazonova-1838554.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card" style="width: 18rem;">
            <img src="./IMG/pexels-rachel-claire-6127330.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card" style="width: 18rem;">
            <img src="./IMG/pexels-elina-sazonova-1838554.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
<div class="row cyan tira-10">
    <div class="col-2"></div>
    <div class="col-8">
        <h2>Disfruta de las delicias de nuestro menú</h2>
    </div>
    <div class="col-2"></div>
</div>
<div class="row cyan_row">
    <div class="col-2"></div>
    <div class="col-4">
        <img src="./IMG/Menu.jpeg" alt="" />
    </div>
    <div class="col-4">
        <p> Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel. </p>
    </div>
    <div class="col-2"></div>
</div>