<div class="row">
    <div class="col-2"></div>
    <div class="col-6">Disfruta de nuestro menu</div>
    <div class="col-2">
        <a href="~/IMG/Menu.jpeg" download> Descargar</a>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div>
            <div class="image-1"></div>
            <div class="image-1"></div>
            <div class="image-1"></div>
            <div class="image-1"></div>
            <div class="image-1"></div>
        </div>
    </div>
    <div class="col-2"></div>
</div>