<link href="~/css/restaurant.css" rel="stylesheet" />
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 pading" style=" text-align: center;">
        <h1>
            Viví una experiencia Gastronómica inimaginable en nuestro Restaurante y Grill Bar
        </h1> <br />
        <a href="~/IMG/Menu.jpeg" download style="font-size: 40px; padding-bottom: 2rem; padding-top: 40px;"> Descargar Menú</a>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="parent">
            <div class="div1">
                <img src="~/img/food/fajitas.png" />
            </div>
            <div class="div2">
                <img src="~/img/food/steak.jpg" />
            </div>
            <div class="div3">
                <img src="~/img/food/tuna.png" />
            </div>
            <div class="div4">
                <img src="~/img/food/fish.jpg" />
            </div>
            <div class="div5">
                <img src="~/img/food/cocktail.jpg" />
            </div>
            <div class="div6">
            </div>
            <div class="div7">
            </div>
            <div class="div8">
            </div>
            <div class="div9">
                <img src="~/img/food/camarones.png" />
            </div>
            <div class="div10">
                <img src="~/img/food/vino.png" />
            </div>
            <div class="div11">
                <img src="~/img/food/pollo.png" />
            </div>
            <div class="div12">
                <img src="~/img/food/beer.jpg" />
            </div>
            <div class="div13">
                <img src="~/img/food/costilla.jpg" />
            </div>
            <div class="div14">
                <img src="~/img/food/churrasco.jpg" />
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
