@{
    ViewData["Title"] = "Packages";
}

<link rel="stylesheet" href="~/css/packages.css" />

<div class="container-fluid packages_container">
    <div class="packages_content">
        <h1>Paquetes Disponibles</h1>
        <div class="row row_card">
            <div class="col-6">
                <div class="card" style="width: 25rem;">
                    <img src="~/IMG/Familiar.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paquete Familiar</h5>
                        <p class="card-text">Mínimo 3 personas, 2 habitaciones y buffet libre en el restaurante .</p>
                        <a href="@Url.Action("Cindex", "Reservation")" class="btn btn-success">Reservar Ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: 25rem;">
                    <img src="~/IMG/Business.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paquete Empresarial</h5>
                        <p class="card-text">Contamos con tarifas empresariales, sala de juntas, salón multiusos y servicio de transporte.</p>
                        <a href="@Url.Action("Cindex", "Reservation")" class="btn btn-success">Reservar Ahora</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row_card">
            <div class="col-6">
                <div class="card" style="width: 25rem;">
                    <img src="~/IMG/Couples.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paquete de Pareja</h5>
                        <p class="card-text">Una habitación con cama Queen, buffet y barra libre.</p>
                        <a href="@Url.Action("Cindex", "Reservation")" class="btn btn-success">Reservar Ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: 25rem;">
                    <img src="~/IMG/Alone.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paquete Individual</h5>
                        <p class="card-text">Reserva 4 noches y pague 3, mínimo 4 noches de hospedaje, servicio de transporte y barra libre.</p>
                        <a href="@Url.Action("Cindex", "Reservation")" class="btn btn-success">Reservar Ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>
