@model CreateHotelRoomViewModel

@{
    ViewData["Title"] = "Crear Habitación";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Rooms.NumeroHabitaciones">Número de Habitaciones</label>
        <input asp-for="Rooms.NumeroHabitaciones" class="form-control" />
        <span asp-validation-for="Rooms.NumeroHabitaciones" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rooms.TipoHabitacion">Tipo de Habitación</label>
        <input asp-for="Rooms.TipoHabitacion" class="form-control" />
        <span asp-validation-for="Rooms.TipoHabitacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rooms.Capacidad">Capacidad</label>
        <input asp-for="Rooms.Capacidad" class="form-control" />
        <span asp-validation-for="Rooms.Capacidad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rooms.Precio">Precio</label>
        <input asp-for="Rooms.Precio" class="form-control" />
        <span asp-validation-for="Rooms.Precio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rooms.Disponible">Disponible</label>
        <input type="checkbox" asp-for="Rooms.Disponible"/>
        <span asp-validation-for="Rooms.Disponible" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Imagenes</label>
        <input type="file" asp-for="Rooms.Imagenes" multiple class="form-control-file" />
    </div>
    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />
    </div>
</form>



@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
