@model CreateFactureViewModel

@{
    var Facturas = new SelectList(Model.Reservations, "Id", "FechaInicio");
}

<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-4">
                <label asp-for="Facture.FechaEmision" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Facture.FechaEmision" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="Facture.IdReservacion" class="form-label"></label>
                <select asp-for="Facture.IdReservacion" asp-items="Facturas" class="form-select"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label asp-for="Facture.Monto" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Facture.Monto" />
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <button type="submit" class="btn btn-outline-success">Guardar Factura</button>
            </div>
        </div>
    </form>
</div>

